{% extends "base.html" %}

{% block title %}
    {% if object %}
        Edit Course "{{ object.title }}"
    {% else %}
        Create a new course
    {% endif %}
{% endblock %}

{% block content %}
    <div class="page_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>
                        {% if object %}
                            Edit course "{{ object.title }}"
                        {% else %}
                            Create a new course
                        {% endif %}
                    </h1>
                    <div class="module">
                        <h2>Course info</h2>
                        <form action="." method="post">
                            {{ form.media }}
                            {{ form }}
                            {% csrf_token %}
                            <p><input type="submit" value="Save course"/></p>
                        </form>
                        {{ form.media }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
