{% extends "base.html" %}

{% block title %}My units{% endblock %}

{% block content %}
    <div class="page_section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>My units</h1>

                    <div class="module">
                        {% for course in object_list %}
                            <div class="course-info">
                                <h3>{{ course.title }}</h3>
                                <p>
                                    <a href="{% url "course_edit" course.id %}">Edit</a>
                                    <a href="{% url "course_delete" course.id %}">Delete</a>
                                    <a href="{% url "course_module_update" course.id %}">Edit modules</a>
                                    {% if course.modules.count > 0 %}
                                        <a href="{% url "module_content_list" course.modules.first.id %}">
                                            Manage contents
                                        </a>
                                    {% endif %}
                                </p>
                            </div>
                        {% empty %}
                            <p>You haven't created any units yet.</p>
                        {% endfor %}
                        <p>
                            <a href="{% url "course_create" %}" class="button">Create
                                new unit</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

