{% extends "base.html" %}
{% load static %}
{% block title %}
    Analytics Enrollments
{% endblock %}

{% block extrahead %}
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>  
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

    <script src="{% static "js/jquery3.3.1.js" %} "></script>
  
 <script type="text/javascript">

window.onload = function() { 
        var labells = [];
        var datax = [];
        var year;

        $.ajax({
        type: "GET",
        url: "{% url "api-enrollments-monthly" %}",
        dataType: 'json',
        success: function(data){
            labells = data.labels_y
            datax = data.data_x
            
            console.log(data)
            enrollmentLine()
           
        }       
        });
    //     addData(myChart3,datax[0])
    //     function addData(chart, data) {
    //  chart.data.datasets.forEach((dataset) => {
    //     dataset.data.push(data);
    //});
   // chart.update();
  
  var backgroundColor= [
                          'rgba(255,0,0, 1)',
                          'rgba(0,255,0, 1)',
                          'rgba(0,0,255, 1)',
                          'rgba(255,0,255, 1)',
                          'rgba(0,0,0,1)',
                          'rgba(0,255,255,1)']


    function enrollmentLine(){
             
             var ctx3 = document.getElementById("lineBar").getContext('2d');     
              var myChart3 = new Chart(ctx3, { 
                  type: 'line',
                  data: {
                  labels: ["January","February", "March" ,"April","May", "June","July","August","September","October","November","December" ],
                   datasets:[  
                      {
                      label: [],
                      data: [],
                      fill: '',
                      backgroundColor: [
                          ],
                      borderColor: [ ], },
                    {
                      label: [],
                      data: [],
                      fill: '',
                      backgroundColor: [],
                      borderColor: [ ],},
                  {
                      label:[],
                      data: [],
                      fill: '',
                      backgroundColor: [],
                      borderColor:  [],},
                  {
                      label:[],
                      data: [],
                      fill: '',
                      backgroundColor: ['rgba(255,255,255,1)'],
                      borderColor: ['rgba(255,255,255,1)' ],},
                  {
                      label: [],
                      data:  [],
                      fill:  '',
                      backgroundColor: ['rgba(255,255,255,1)'],
                      borderColor: ['rgba(255,255,255,1)' ],},
                  {
                      label: [],
                      data:  [],
                      fill:  '',
                      backgroundColor: ['rgba(255,255,255,1)'],
                      borderColor: ['rgba(255,255,255,1)' ],                    
                  } ,
                  {
                      label: [],
                      data:  [],
                      fill:  '',
                      backgroundColor: ['rgba(255,255,255,1)'],
                      borderColor: ['rgba(255,255,255,1)' ],                    
                  } 
                  ,
                  {
                      label: [],
                      data:  [],
                      fill:  '',
                      backgroundColor: ['rgba(255,255,255,1)'],
                      borderColor: ['rgba(255,255,255,1)' ],                    
                  } 
                  ,
                  {
                      label: [],
                      data:  [],
                      fill:  '',
                      backgroundColor: ['rgba(255,255,255,1)'],
                      borderColor: ['rgba(255,255,255,1)' ],                    
                  } 
                     
                     
                   ]  
                   },
                   options: {
                    title: {
                            display: true,
                            text: 'The Number of students enrolled in year '+ '2018'
                        },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero:true
                        }
                    }]
                }
            }
                  
              });
              console.log(datax[1][6]);

 
for(var i = 0; i < labells.length; i++){
    myChart3.data.datasets[i].backgroundColor = backgroundColor[i];
        myChart3.data.datasets[i].borderColor = backgroundColor[i];
        myChart3.data.datasets[i].fill = false
     for(var j = 0; j < 12; j++){ 
        myChart3.data.datasets[i].data.push(datax[i][j])  
        console.log(datax[i][j]);
        }
        myChart3.data.datasets[i].label = labells[i];
     }
    myChart3.update();
    }



}
       
        
                  
</script> 


{% endblock  %}
{% block content %}

<!-- Home -->

<div class="home">	 
	</div>

	 
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="section_title text-center">
							<h1>Course Analytics</h1>
						</div>
                        <h1><a href="{% url "manage_course_list" %}">Back to My Courses</a></h1>					</div>
				</div>
	
			
                <!-- Popular -->
<!--displaying the analytics-->
	<div class="popular page_section">
            <div class="container">
                  
                   <div style="margin-top: 80px"></div>
                  <div class="row row-eq-height"> 
                    <h1>select the year to analyze</h1>
                    <form method="get">
                    <input class="date-own form-control" name="year-picked" style="width: 300px;" type="text"> 
                    <script type="text/javascript">
                        $('.date-own').datepicker({
                           minViewMode: 2,
                           format: 'yyyy'
                         });
                    </script>
                    <input type="submit" value="check"/>
                    </form>
                    <div class="col-lg-12"> 

                           <canvas id="lineBar"  style="height: 100%; max-width:100%; margin: 0px auto;"></canvas>                    
                    </div>
                    <div class="col-lg-0" style="margin-top: 30px">
                         
                               <!-- Django test code
                               {% for key,values in labelDict.items %} 

                                <li>{{forloop.counter0}}{{values}} </li>                                 
                                {% endfor %}

                               
                                {%if labelDict %}
                                   var  labels = { {% for key,values in labelDict.items %}"{{key}}": "{{values}}" , {%endfor%}}
                                {%endif%}
                             
                                

                            {% for home in data_x %}  
                            {% for house in home %} 
                             {{ house }} 
                            {% endfor %}
                            
                        {% endfor %} -->
                         
                                    
                    </div>
                  </div>
            </div>		
        </div>
       </div>		
	 

    
{% endblock %}

{%block domready}  

        
{%endblock}
