{% extends "base.html" %}

{% block title %}My Units{% endblock %}

{% block content %}
    <div class="page_section" style="margin-bottom: 300px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>My Units</h1>

                    <div class="module">
                        {% for course in object_list %}
                            <div class="course-info">
                                <h3>{{ course.title }}</h3>
                                <p><a href="{% url "student_course_detail" course.id %}">Access contents</a></p>
                            </div>
                        {% empty %}
                            <p>
                                You are not enrolled in any units yet.
                                <a href="{% url "course_list" %}">Browse units</a> to enroll in a unit.
                            </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
